table{
    width: 800px;
    border: 1px solid;
    margin: 0 auto;
    border-collapse: collapse;
}
table tr, th, td{
    padding: 5px;
}
td:nth-child(2), td:nth-child(3){
    text-align: center;
}
tr:hover{
    background-color: #eee;
}
tr:nth-child(even){
    background-color: #ddd;
}
.tabela_empregados{
    overflow-x: auto;
}